body {
    background-color: rosybrown; 
}  

.outer-box {
    width: 500px; 
    height: 500px;
    background-color: cornsilk;
    border: 2px solid beige;
    border-radius: 25px;
}

.inner-box {
    width: 100px;
    height: 100px;
    background-color: deepskyblue;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px auto;
}

.inner-box2 {
    width: 150px;
    height: 200px;
    background-color: blueviolet;
    border: 1px solid skyblue;
    border-radius: 10px;
    margin: 30px;
}

.inner-box3 {
    width: 150px;
    height: 60px;
    background-color: yellowgreen;
    border: 1px solid red;
    border-radius: 30px;
    margin: 50px 200px;
}

.outer-box2 {
    width: 150px; 
    height: 200px;
    background-color: cornsilk;
    border: 2px solid beige;
    border-radius: 10px;
    margin-top: 30px
}